@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');

.tracks{
    margin-top: 5vh;
    padding-bottom: 10vh;

}

.tracks .main-heading h2{
    text-align: center;
    color: #000;
    /* font-family: 'Roboto Slab', serif; */
    color: #178D4A;
    font-size: 2.7rem;
}

.tracks .tracks-card{
    margin-top: 2vh;
    margin-bottom: 5vh;
}

.tracks .tracks-card .card{
    width: 18rem;
    margin-top: 6vh;
    box-shadow: 0px 0px 2px 0px #13bd5d;   
    cursor: pointer;
    border-radius: 12px;
    background-color: #fafafa;
    transition: transform 0.3s;
    align-items: center;
}

.tracks .tracks-card .card:hover{
    box-shadow: 0px 0px 2px 0px #13bd5d; 
    transform: translateY(-0.5rem);
}

.tracks .tracks-card .card .card-img-top{
    height: 5rem;
    width: 5rem;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.tracks .tracks-card .card .card-title{
    color: #13c560;
    font-family: 'Roboto Slab', serif;
    font-size: 2rem;
    padding-top: 3vh;
}

.tracks .tracks-card .card .card-text{
    margin-top: 1vh;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.2rem;
}

.tracks .tracks-card .card button{
    margin-bottom: 2vh;
    padding: 0.5rem 0.5rem;
    background-color: #15aa55;
    width: 7rem;
    font-size: 1.1rem;
}